<!-- <p>jumbotron works!</p> -->

<!-- <div class="absolute inset-0 bg-black bg-opacity-60 flex flex-col items-center justify-center text-white text-center px-4">
             

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
     <div class="text-center">
       <h1 class="text-4xl tracking-tight font-extrabold text-[#FC9401] sm:text-5xl md:text-6xl">
         <span class="block">Éducation de Qualité</span>
         <span class="block text-primary">À Votre Domicile</span>
       </h1>
       <p class="mt-3 max-w-md mx-auto text-base text-white sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
      
     </p>
       <div class="mt-8 flex justify-center space-x-4">
         <button class="btn btn-primary">Commencer l'apprentissage</button>
         <button class="btn bg-white text-primary border border-primary hover:bg-primary-50">
           Devenir Tuteur
         </button>
       </div>
     </div>
   </div>
</div> -->

<div class="relative border border-gray-200 h-screen">
    <div class=" absolute h-screen  ">
        <img src="images/L01-slider-01.webp" loading="lazy">
    </div>
    <div class="absolute w-full h-96  flex flex-col items-start justify-center text-white  px-4">
      <div class="mt-auto flex flex-col space-y-4">
        <div class=" px-6 flex justify-center">
            <p class="text-[#519B4D] uppercase roboto-regular pt-6 font-semibold text-2xl">ready for convenient use</p>
        </div>
        <div class="max-w-7xl  px-6 items-center text-center">
            <div class="text-start">
              <h1 class="text-4xl tracking-tight font-extrabold text-[#000] sm:text-5xl md:text-6xl">
                <span class="block uppercase roboto-regular">Tasty and Fresh</span>
                <span class="block text-primary uppercase roboto-regular">À Votre Domicile</span>
              </h1>
              <p class="mt-3 max-w-md mx-auto text-base text-white sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
            </p>
              <div class="mt-8 flex justify-center space-x-4">
                <button class="btn btn-primary roboto-thin">Commencer l'apprentissage</button>
                <button class="btn bg-black text-primary border roboto-thin border-primary hover:bg-primary-50">
                  Devenir Tuteur
                </button>
              </div> 
            </div>
          </div>
      </div>

    <!-- <div>
        <p class="text-[#519B4D]">ready for convenient use</p>
    </div> -->
    </div>
</div>