<app-header></app-header>
<div>
    <div class=" absolute fixed justify-center bg-white  w-10  border items-center top-72 z-50 right-0 rounded-lg  ">
        <fa-icon [icon]="faHeart" class="close h-10 flex justify-center  items-center pointer cursor:pointer rounded-t-lg  text-gray-900 hover:text-white hover:bg-[#519B4D] "></fa-icon>

        <hr>
        <fa-icon [icon]="faHeart" class="h-10 flex justify-center items-center pointer cursor:pointer text-gray-900 hover:text-white hover:bg-[#519B4D]"></fa-icon>

        <hr>
        <fa-icon [icon]="faArrowTurnUp" class="h-10 flex justify-center items-center  pointer cursor:pointer rounded-b-lg text-gray-900 hover:text-white hover:bg-[#519B4D] "></fa-icon>

    </div>
</div>
<div class="">
   
    <router-outlet />
</div>
